body {
  text-align: center;
  background-color: antiquewhite;
}
h1 {
  text-align: center;
}
img {
  max-width: 100%;
    border-radius: 10px;
    display: block;
    margin: 30px auto;
}

a {
  color: green;
  padding: 10px;
}